/* -------------------------- Ids --------------------------*/

#top_panel{
    padding: 0px;
}

#main_background{
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-image: url(./img/forest.jpg);
    background-color: transparent;

    padding-top: 5rem;
    padding-bottom: 5rem;

    padding-left: 1rem;
    padding-right: 1rem;

}

#main_intro{
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
}

#main_intro h2{
    font-family: "EB Garmond", serif;
    font-size: 2.25rem;
    color: #ffffff;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2.5rem;
}

#main_intro p{
    font-size: 1.25rem;
    margin-bottom: 2rem;
    line-height: 1.75rem;
    color: #ffffff;
}

#main_intro a{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: white;
}

#gallery {
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

#map{
    border: 1px solid black;
}

#map_holder{
    aspect-ratio: 1;
}

#featured_treats{
    background-color: white;
}

#upcoming_events{
    background-color: #f0fdf4;
}

#find_us{
    background-color: white;
}

#our_story{
    background-color: #f0fdf4;
}

#newsletter_subscribe{
    background-color: #166534;
    color: #2D3748;
    font-size: 16px;
}

#newsletter_subscribe h3{
    color: inherit;
    padding: 0px;
    margin: 0px 0px 16px;
}

#newsletter_subscribe p{
    font-size: 16px;
    margin: 0px 0px 32px;
    justify-self: center;
}

#newsletter_subscribe form{
    max-width: 42rem;
    display: flex;
    justify-content: center;
    justify-self: center;
    gap:1rem;
}

#newsletter_subscribe form input{
    border-radius: 0.5rem;
    flex-grow: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    outline: none;
    box-shadow: none;
    border: none;
}

#newsletter_subscribe form button{
    border-radius: 0.5rem;
    background-color: inherit;
    outline: none;
    box-shadow: none;
    border: none;
    color: inherit;
    font-size: inherit;
}

#footer_title{
    font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
